html,
body {
    height: 100%;
}

@media (min-width: 768px) { 
    .site-login{
        width: 50%;
        margin-left: 25%; 
        background-color: transparent;
        border-radius: 2%;
        box-shadow: 5px 5px 5px #3a6073;
    }

}

@media (min-width: 992px) {
    .site-login{
        width: 50%;
        margin-top: 5%;
        margin-left: 25%; 
        background-color: transparent;
        border-radius: 2%;
        box-shadow: 5px 5px 5px #3a6073;
    }
}

@media (min-width: 1200px) { 
     .site-login{
        width: 50%;
        margin-top: 5%;
        margin-left: 25%; 
        background-color: transparent;
        border-radius: 2%;
        box-shadow: 5px 5px 5px #3a6073;
    }
}

.button1 {
    border: 1px solid rgba(89, 171, 222,1);
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    font-size: 15px;
    font-weight: 500; 
  }
  .btn1 {
    color: #fff;
    margin-bottom: 10px;
  }
  .btn1:hover {
    color: rgba(89, 171, 222,1);
    border: 1px solid rgba(89, 171, 222,1);
  }
  .button1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(46.853900975182455deg, rgba(89, 171, 222,1) 60.98177083333333%,rgba(73, 126, 241,1) 92.54427083333333%,rgba(73, 126, 242,1) 92.54427083333333%);
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn1::before {
    height: 180%;
  }
  .btn1:hover::before {
    height: 0%;
  }

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
